
@*
    _DefaultServicesComponentPartial
*@
<section class="features py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#calendar"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Randevu Alın</h4>
                    <p>Şıklığınızı uzman danışmanlarımızla birlikte planlamak için hemen randevu alın.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#shopping-bag"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Mağazadan Teslimat</h4>
                    <p>Online siparişlerinizi hızlı ve kolay bir şekilde mağazamızdan teslim alın.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#gift"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Özel Hediye Paketleme</h4>
                    <p>Siparişlerinizi sevdikleriniz için özel hediye paketinde gönderiyoruz.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-cycle"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Ücretsiz Kolay İade</h4>
                    <p>Tüm ürünlerimizde sorunsuz ve ücretsiz küresel iade imkanı sunuyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</section>